h1 {
    font-size:30px;
    color:darkgreen;
    }
    h2{
        font-size: 20px;
        color: greenyellow;
        text-align: center;
    }
    .grande {
        font-size: 100px;
    }
    .maiuscula {
        text-transform: uppercase;
    }
    .grande.maiuscula {
        text-shadow: 6px 6px 8px #333333;
    }
    h1 span {
        color: turquoise;
    }